body{
	color: white;
	background: black;
	font-family: 'Playfair Display', serif;
}
h1{
	text-align: center;
}
p{
	text-align: center;
}
h2{
	text-align: center;
	font-size: 50px;
}
h3{
	text-align: center;
	font-size: 50px;
	color:cyan;
}
h4{
	text-align: center;
	font-size: 50px;
}
h5{
	text-align: center;
	font-size: 80px;
	font-family: 'Monoton', cursive;
}
h6{
	text-align: center;
	font-size: 50px;
	color: yellow;
	border: dotted DeepPink 2.5px;
}
img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.caption{
	text-align: center;
	font-style: italic;
	color: green;
	text-decoration: underline;
	font-size: 25px;
	font-family: 'Supermercado One', cursive;
}
.rainbow{
	font-family: 'Monoton', cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  	-webkit-animation: rainbow 5s infinite;
}
@-webkit-keyframes rainbow{
 	0%{color: orange;}	
 	10%{color: purple;}	
	20%{color: red;}
 	30%{color: CadetBlue;}
	40%{color: yellow;}
 	50%{color: coral;}
	60%{color: green;}
 	70%{color: cyan;}
 	80%{color: DeepPink;}
 	90%{color: DodgerBlue;}
	100%{color: orange;}
}